#homeBackground {
    height: auto;
    position: relative;
    width: 100%;
    background-image: url('/images/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% center;
    animation-delay: 0.5s;
    animation: fadeIn 1s ease-in-out forwards;
}

#worksBackground {
    height: auto;
    position: relative;
    width: 100%;
    background-image: url('/images/image6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 65% center;
    animation-delay: 0.5s;
    animation: fadeIn 1s ease-in-out forwards;
}

#homeLayer {
    height: auto;
    width: 100%;
    background: rgba(0, 0, 0, 0.73);
    animation-delay: 0.5s;
    animation: fadeIn 1.5s ease-in-out forwards;
}

#worksLayer {
    height: auto;
    width: 100%;
    background: rgba(0, 0, 0, 0.73);
    animation-delay: 0.5s;
    animation: fadeIn 1.5s ease-in-out forwards;
    display: flex;
    flex-direction: column;
    gap: 9rem;
}


#eleBox {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#galleryBackground {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(230deg, rgb(244, 243, 243), rgb(255, 247, 247));
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    0% {opacity: 0.3;}
    100% {opacity: 1;}
}

@media only screen and (max-width: 480px) {
    
}