#menuBox {
    height: 5vh;
    width: 70vw;
    animation-delay: 1s;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin-top: 0.6rem;
    animation: fadeIn 1.5s ease-in-out forwards;
    font-family: "Open Sans", sans-serif;
}

.navB {
    font-size: 1.5rem;
    font-weight: 300;
    user-select: none;
}

#contactB {
    font-size: 2rem;
    font-weight: 400;
    user-select: none;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media only screen and (max-width: 480px) {
    #menuBox {
        width: 100%;
        padding: 1rem;
    }
    .navB {
        font-size: 1.3rem;
    }
    #contactB {
        font-size: 1.6rem;
    }
}