#signiture {
    height: 85%;
    width: 85%;
    stroke-dashoffset: 0;
    stroke-dasharray: 700;
    animation: drawSVG  2s ease-in-out;
    animation-fill-mode: forwards;
}

#signiture .cls-1 {
    fill: none;
    stroke: #d8d8d8;
    stroke-miterlimit: 10;
    stroke-width: 6px;
}

#UpArrow {
  width: 60px;
  height: 60px;
}

.iconSize {
  width: 6rem;
  height: 5rem;
}

#cobiss .cls-1 {
  fill: #b91c1c;
  stroke-width: 0px;
}

#knjiga .cls-1 {
  fill: #b91c1c;
  stroke-width: 0px;
}

@keyframes drawSVG{
    0% {
      stroke-dashoffset: 700;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }